<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/bootbox.min.js"></script>
		<link rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css'/>
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/ace.min.css" />
		<link rel="stylesheet" href="/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/css/ace-skins.min.css" />
		<title></title>
	</head>
	<body>
		<nav class="navbar navbar-default ">
		  <div class="container">
		    <div class="row">
		    	<p class="navbar-text">后台管理系统</p>
		    		<a class="navbar-text navbar-right" href="/users/quit">退出</a>
		    		<a class="navbar-text navbar-right" href="/users/register">修改密码</a>
		    </div>
		  </div>
		</nav>