
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/carousel.js"></script>
<script src="/js/bootbox.min.js"></script>
<link rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css'/>
<title></title>