<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include stage/quote.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	
    </style>
  </head>
  <body>

		<nav class="navbar ">
		  <div class="container">
		  		<div class="row">
		  			<p style="text-align: center;">《蚂蚁金服隐私权政策》 《蚂蚁金服客户权益保障承诺书》 ICP证:浙B2-20100257Copyright © 2017 蚂蚁金融服务集团</p>
		  		</div>
		  </div>
		</nav>
  </body>
</html>
