
	 <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header col-md-offset-3">
	      <a class="navbar-brand" href="#">
	      	<img src="/images/butterly.png"  width="30px"/>
	      </a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
	      <ul id="nav_link" class="nav navbar-nav">
	      	<li class="active"><a href="/" name="首页">首页 <span class="sr-only">(current)</span></a></li>
	        <li ><a href="/about" name='关于'>关于 </a></li>
	        <li><a href="/product" name="产品">产品</a></li>
	        <li>
	          <a href="/application" name="合作申请">合作申请</a>
	        </li>
	        <li>
	          <a href="/news" name="新闻">新闻</a>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
