<!DOCTYPE html>
<html>
  <head>
    <title>新闻</title>
    <% include stage/quote.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	
    </style>
  </head>
  <body>
  	<% include header.ejs%>
   <div>
   	<div class="row">
   		<div class="panel panel-default col-md-7 col-md-offset-2" style="padding: 0px;">
			  <!-- Default panel contents -->
			  <div class="panel-heading " >时事新闻</div>
			
			  <!-- Table -->
			  <table class="table">
			    <tr>
			    	<td >发给石灰豆腐还是辜负还是过后</td>
			    	<td >2015/10/25</td>
			    </tr>
			    <tr>
			    	<td >发给石灰豆腐还是辜负还是过后</td>
			    	<td>2015/10/25</td>
			    </tr>
			    <tr>
			    	<td>发给石灰豆腐还是辜负还是过后</td>
			    	<td >2015/10/25</td>
			    </tr>
			  </table>
			</div>
   	</div>
   	<nav aria-label="Page ">
		  <ul class="pager  ">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
   </div>
    <% include footer.ejs%>
    <script src="/js/common.js"></script>
  </body>
</html>
